projects {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    height: fit-content;
    background-color: #CBBDEF;
}

projects div.container {
    padding-top: 96px;
    padding-bottom: 56px;
    height: 100%;
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    color: #0D0D0D;
}

.grid-projects {
    margin-top: 56px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 427px);
    grid-template-rows: repeat(5, 427px);
    /* position: relative;
    z-index: 2; */
}

div.project-7 {
    grid-area: 4 / 2 / 5 / 4;
}

div.project-3 {
    grid-area: 1 / 3 / 3 / 4;
}

div.container > Button {
    align-self: center;
    position: relative;
    bottom: -82px;
}