projects {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    height: fit-content;
    background-color: #cbbdef;
}

projects div.container {
    padding-top: 96px;
    padding-bottom: 40px;
    height: 100%;
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    color: #0d0d0d;
}

.grid-projects {
    margin-top: 56px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 427px);
    grid-template-rows: repeat(8, 427px);
}

div.project-10 {
    grid-area: 4 / 2 / 5 / 4;
}

div.project-14 {
    grid-area: 7 / 1 / 8 / 3;
}

div.project-14-small {
    display: none;
}

div.project-15 {
    grid-area: 7 / 3 / 8 / 4;
}


div.project-3 {
    grid-area: 1 / 3 / 3 / 4;
}

div.project-3-small {
    display: none;
}

div.container>Button {
    align-self: center;
    position: relative;
    bottom: 0;
    margin-top: 20px;
}

div.project-16 {
    grid-area: 8 / 1 / 9 / 2;
}

div.project-17 {
    grid-area: 8 / 2 / 9 / 3;
}

div.project-18 {
    grid-area: 8 / 3 / 9 / 4;
}

div.feedback-19 {
    grid-area: 6 / 1 / 7 / 2;
}

div.feedback-20 {
    grid-area: 6 / 3 / 7 / 4;
}

@media only screen and (max-width: 1440px) {
    projects div.container {
        width: 1040px
    }

    .grid-projects {
        grid-template-columns: repeat(3, 346px);
        grid-template-rows: repeat(9, 346px);
    }
}

@media only screen and (max-width: 1200px) {
    projects div.container {
        width: 832px
    }

    .projects-title {
        text-align: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .grid-projects {
        grid-template-columns: repeat(2, 416px);
        grid-template-rows: repeat(12, 416px);
    }

    div.project-3 {
        grid-area: 2 / 1 / 4 / 2;
    }

    div.project-4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .feedback-5 {
        grid-area: 3 / 2 / 4 / 3;
    }

    div.project-6 {
        grid-area: 5 / 1 / 6 / 2;
    }

    div.project-7 {
        grid-area: 5 / 2 / 6 / 3;
    }

    .feedback-8 {
        grid-area: 6 / 1 / 7 / 2;
    }

    div.project-9 {
        grid-area: 6 / 2 / 7 / 3;
    }

    div.project-10 {
        grid-area: 4 / 1 / 5 / 3;
    }

    div.project-11 {
        grid-area: 7 / 1 / 8 / 2;
    }

    div.project-12 {
        grid-area: 7 / 2 / 8 / 3;
    }

    div.project-13 {
        grid-area: 9 / 1 / 10 / 2;
    }

    div.project-15 {
        grid-area: 9 / 2 / 10 / 3;
    }

    div.project-14 {
        grid-area: 8 / 1 / 9 / 3;
    }



    div.project-16 {
        grid-area: 10 / 1 / 11 / 2;
    }

    div.project-17 {
        grid-area: 11 / 1 / 12 / 2;
    }

    div.project-18 {
        grid-area: 10 / 2 / 11 / 3;
    }

    div.feedback-19 {
        grid-area: 4 / 2 / 5 / 3;
    }

    div.feedback-20 {
        grid-area: 8 / 2 / 9 / 3;
    }
}

@media only screen and (max-width: 992px) {
    projects div.container {
        max-width: 688px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 48px;
        padding-bottom: 12px;
    }

    .grid-projects {
        grid-template-columns: repeat(2, 344px);
        grid-template-rows: repeat(12, 344px);
    }

    div.container>Button {
        bottom: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    projects div.container {
        max-width: 536px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 48px;
        padding-bottom: 12px;
        align-items: center;
    }

    .grid-projects {
        grid-template-columns: repeat(1, 344px);
        grid-template-rows: repeat(16, 344px);
        row-gap: 50px;
        align-self: center;
        align-items: center;
        align-content: center;
    }

    div.project-3 {
        display: none;
    }

    div.project-10 {
        display: none;
    }

    div.project-14 {
        display: none;
    }

    div.project-2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    div.project-3-small {
        display: flex;
        grid-area: 2 / 1 / 3 / 2;
    }

    div.feedback-1 {
        display: flex;
        grid-area: 3 / 1 / 4 / 2;
    }

    div.project-4 {
        display: flex;
        grid-area: 4 / 1 / 5 / 2;
    }

    div.project-6 {
        display: flex;
        grid-area: 5 / 1 / 6 / 2;
    }

    div.feedback-5 {
        display: flex;
        grid-area: 6 / 1 / 7 / 2;
    }

    div.project-7 {
        display: flex;
        grid-area: 7 / 1 / 8 / 2;
    }

    div.project-9 {
        display: flex;
        grid-area: 8 / 1 / 9 / 2;
    }

    div.feedback-8 {
        display: flex;
        grid-area: 9 / 1 / 10 / 2;
    }

    div.project-11 {
        display: flex;
        grid-area: 10 / 1 / 11 / 2;
    }

    div.project-12 {
        display: flex;
        grid-area: 13 / 1 / 14 / 2;
    }

    div.project-13 {
        display: flex;
        grid-area: 14 / 1 / 15 / 2;
    }

    div.project-14-small {
        display: flex;
        grid-area: 15 / 1 / 16 / 2;
    }

    div.project-15 {
        display: flex;
        grid-area: 16 / 1 / 17 / 2;
    }

    div.project-16 {
        display: flex;
        grid-area: 17 / 1 / 18 / 2;
    }

    div.project-17 {
        display: flex;
        grid-area: 18 / 1 / 19 / 2;
    }

    div.project-18 {
        display: flex;
        grid-area: 19 / 1 / 20 / 2;
    }

    div.feedback-19 {
        display: flex;
        grid-area: 11 / 1 / 12 / 2;
    }

    div.feedback-20 {
        display: flex;
        grid-area: 12 / 1 / 13 / 2;
    }

    div.container>Button {
        bottom: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 576px) {
    projects div.container {
        max-width: 337px;
        padding-left: 23px;
        padding-right: 23px;
    }

    .grid-projects {
        margin-top: 24px;
    }
}