faq {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    background-color: #cbbdef;
    overflow: hidden;
}

faq div.container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding-left: 80px;
    padding-right: 80px;
}

.faq-title-width {
    max-width: 400px;
}

.faq-top {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 73px;
    margin-bottom: 77px;
}

div.faq-distance {
    min-height: 30px;
    min-width: 50%;
}

.faq-bottom {
    margin-bottom: 96px;
}

.faq-badges {
    display: flex;
    min-width: 2040px;
    gap: 8px;
    white-space: nowrap;
    animation: 20s move_lr infinite linear;
}

@media only screen and (max-width: 1440px) {
    faq div.container {
        width: 1040px;
    }
}

@media only screen and (max-width: 1200px) {
    faq div.container {
        width: 832px;
    }

    .faq-title-width {
        max-width: 100%;
    }

    .faq-top {
        flex-direction: column;
        align-items: center;
    }

    .faq-bottom {
        margin-bottom: 72px;
    }

    .faq-badges {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 992px) {
    faq div.container {
        width: 688px;
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media only screen and (max-width: 768px) {
    faq div.container {
        width: 496px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .faq-title-width {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
        justify-items: center;
        justify-self: center;
    }
}

@media only screen and (max-width: 576px) {
    faq div.container {
        width: 337px;
        padding-left: 23px;
        padding-right: 23px;
    }
}