.header {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;

    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 8px;
    background-color: #665DEC;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    transition: all 0.3s ease;
}

.header:hover {
    background-color: #8079E6;
    transition: all 0.3s ease;
}

.status {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #2ECC51;
    text-decoration: none;
    border: 1.6px solid #2ECC51;
    background-color: transparent;
    margin: 0px;
    padding: 4px 16px;
    border-radius: 6px;
    pointer-events: none;  
}

.example {
    position: relative;
    bottom: 47px;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    margin: 0px;
    padding: 6px 0px;

    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.example:hover {
    border: 3.6px solid #665DEC;
}

button.header a {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    transition: all 0.3s ease;

    padding: 16px 24px;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
}

button.status a {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #2ECC51;
    text-decoration: none;
    pointer-events: none;
}

button.example a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 16px;
    color: #0D0D0D;
}

.status {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #2ECC51;
    text-decoration: none;
    border: 1.6px solid #2ECC51;
    background-color: transparent;
    margin: 0px;
    padding: 4px 16px;
    border-radius: 6px;
    pointer-events: none;  
}

@media only screen and (max-width: 768px) {
    .example {
        bottom: 0px;
    }
}