hero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0d0d0d;
    margin: 0 auto;
    padding: 0px;
}

hero div.container {
    height: 500px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-left: 80px;
    padding-right: 80px;
}

div.left {
    margin-top: 35px;
    max-width: 800px;
}

div.left h1 {
    width: 800px;
    padding-top: 24px;
    padding-bottom: 56px;
}

div.identity {
    position: relative;
    right: 220px;
    top: -110px;
}

@media only screen and (max-width: 1440px) {
    div.identity {
        right: 360px;
        top: 40px;
    }

    hero div.container {
        height: 640px;
        width: 1040px;
    }
}

@media only screen and (max-width: 1200px) {
    div.identity {
        right: 568px;
        top: 40px;
    }

    hero div.container {
        height: 640px;
        width: 832px;
    }
}

@media only screen and (max-width: 992px) {
    hero div.container {
        height: 735px;
        max-width: 688px;
        padding-left: 40px;
        padding-right: 40px;
    }

    div.identity {
        right: 568px;
        top: 135px;
    }

    div.left {
        width: 650px;
    }

    div.left h1 {
        width: 650px;
    }
}
