.title-white {
    font-family: 'Inter';
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    color: #FFFFFF;
}

.title-black {
    font-family: 'Inter';
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    color: #0D0D0D;
}

@media only screen and (max-width: 992px) {
    .title-white {
        font-size: 72px;
        line-height: 80px;
    }

    .title-black {
        font-size: 72px;
        line-height: 80px;
    }

}

@media only screen and (max-width: 768px) {
    .title-white {
        font-size: 64px;
        line-height: 72px;
    }

    .title-black {
        font-size: 64px;
        line-height: 72px;
    }
}

@media only screen and (max-width: 768px) {
    .title-white {
        font-size: 40px;
        line-height: 48px;
    }

    .title-black {
        font-size: 40px;
        line-height: 48px;
    }

}