img.logo {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    .logo-container {
        width: 162px;
        height: 42px;
    }
}

@media only screen and (max-width: 576px) {
    div.logo-container {
        max-width: 88px;
        max-height: 23px;
    }
}

