we {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 912px;
    background-color: black;
}

we div.container {
    display: flex;
    flex-direction: row;
    width: 1280px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 124px;
}

.we-text-block {
    min-width: 505px;
    height: fit-content;
}

.timeline-cont {
    position: relative;
    width: fit-content;
    height: fit-content;
    right: 296px;
}

.whitespace {
    height: 56px;
}

@media only screen and (max-width: 1440px) {
    we div.container {
        width: 1040px;
    }
}

@media only screen and (max-width: 1200px) {
    we div.container {
        width: 832px;
    }

    .timeline-cont {
        right: 400px;
    }
}

@media only screen and (max-width: 992px) {
    we div.container {
        width: 688px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .timeline-cont {
        right: 405px;
    }

    
}
