about {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
    /* overflow: hidden; */
}

about div.container {
    height: 100%;
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    color: #0d0d0d;
    /* overflow: hidden; */
}

div.badges {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    gap: 8px;
    margin-top: 56px;
    margin-bottom: 96px;
}

@media only screen and (max-width: 1440px) {
    about div.container {
        width: 1040px;
    }
}

@media only screen and (max-width: 1200px) {
    about div.container {
        width: 832px;
    }
}

@media only screen and (max-width: 992px) {
    about div.container {
        max-width: 688px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
