about {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
}

about div.container {
    height: 100%;
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 106px;
    color: #0d0d0d;
    overflow: hidden;
}

div.badges {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    gap: 8px;
    margin-top: 56px;
    margin-bottom: 96px;
}

@media only screen and (max-width: 1440px) {
    about div.container {
        width: 1040px;
    }
}

@media only screen and (max-width: 1200px) {
    about div.container {
        width: 832px;
    }
}

@media only screen and (max-width: 992px) {
    about div.container {
        max-width: 688px;
        padding-left: 40px;
        padding-right: 40px;
    }

    div.badges {
        margin-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 768px) {
    about div.container {
        max-width: 496px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 58px;
    }

    div.badges {
        margin-bottom: 48px;
    }
}

@media only screen and (max-width: 576px) {
    about div.container {
        max-width: 337px;
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 40px;
    }

    div.badges {
        margin-bottom: 48px;
        min-width: 337px;
        padding-left: 23px;
        padding-right: 23px;
    }
}