footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    background-color: #0d0d0d;
}

footer div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 1280px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 96px;
}

.footer-buttons {
    display: flex;
    gap: 48px;
    padding-top: 56px;
    padding-bottom: 96px;
}

.footer-title {
    text-align: center;
    max-width: 560px;
}

@media only screen and (max-width: 1440px) {
    footer div.container {
        width: 1040px;
    }
}

@media only screen and (max-width: 1200px) {
    footer div.container {
        width: 832px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 992px) {
    footer div.container {
        width: 688px;
    }
}
