.sub-grid-links {
    display: grid;
    grid-template-columns: repeat(3, 175px);
    gap: 0px;
    padding: 0px;
    margin: 0px;
    height: 184px;
}

.sub-cell1 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.sub-cell2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.sub-cell3 {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 5px;
    padding-right: 5px;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

div.width-90 {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.hamburger-icon {
    display: none;
    color: #665DEC;
}

@media only screen and (max-width: 1440px) {
    .sub-cell1 {
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
    }

    .-sub-cell3 {
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
    }
}

@media only screen and (max-width: 992px) {
    .sub-grid-links {
        grid-template-columns: repeat(3, 140px);
        height: 145px;
    }

    .sub-cell1 {
        padding-left: 10px;
    }

    .sub-cell2 {
        padding-left: 5px;
    }

    div.width-90 {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .sub-grid-links {
        display: none;
        border: none;
    }
}